@model SettingsViewModel
@{
    ViewData["Title"] = "Settings";
}

<h1>Settings</h1>

<form asp-area="Administration" asp-controller="Application" asp-action="Settings">
    <input class="form-control w-25" type="number" asp-for="@Model.AccessCodeLength" value="@Model.AccessCodeLength" />
    <button class="btn btn-primary mt-3">Save</button>
</form>