@model ContestQuestionsListInputModel

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add</h1>

<form asp-controller="Questions" asp-action="Add">
    <div class="question-card">
        <h3 id="title">Question 1</h3>

        <div class="input-group">
            <label class="input-group-text">Question Content</label>
            <input type="text" class="form-control" asp-for="Questions[0].Content" />
        </div>
        <hr />

        <div class="input-group">
            <label class="input-group-text">Answer 1</label>
            <input type="text" class="form-control" asp-for="Questions[0].One.Content" />
            <div class="input-group-text">
                <input type="checkbox" asp-for="Questions[0].One.IsRight"/>
            </div>
        </div>

        <div class="input-group">
            <label class="input-group-text">Answer 2</label>
            <input type="text" class="form-control" asp-for="Questions[0].Two.Content" />
            <div class="input-group-text">
                <input type="checkbox" asp-for="Questions[0].Two.IsRight" />
            </div>
        </div>

        <div class="input-group">
            <label class="input-group-text">Answer 3</label>
            <input type="text" class="form-control" asp-for="Questions[0].Three.Content" />
            <div class="input-group-text">
                <input type="checkbox" asp-for="Questions[0].Three.IsRight" />
            </div>
        </div>

        <div class="input-group">
            <label class="input-group-text">Answer 4</label>
            <input type="text" class="form-control" asp-for="Questions[0].Four.Content" />
            <div class="input-group-text">
                <input type="checkbox" asp-for="Questions[0].Four.IsRight" />
            </div>
        </div>
        <br />
    </div>

    <div class="button-group">
        <br />
        <button type="button" class="btn btn-secondary" id="addQuestion">More questions</button>
        <button class="btn btn-primary" asp-controller="Questions" asp-action="Add">Add questions to contest</button>
    </div>
</form>