@model ContestNameInputModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<form class="form-inline" asp-controller="Contests" asp-action="Create">
    <input class="form-control w-25" type="text" asp-for="Name" placeholder="Enter contest name..."/>
    <br />
    <button class="btn btn-primary ml-3">Create</button>
</form>