@model ContestOpenViewModel

@{
    ViewData["Title"] = "YourContestCode";
}

<h1>YourContestCode</h1>

<h2>@Model.Code</h2>
<a class="btn btn-primary" asp-controller="Contests" asp-action="Join">Join contest...</a>
<p>Share</p>