@inject UserManager<ApplicationUser> UserManager
@{
    var user = await this.UserManager.GetUserAsync(this.User);
    var avatar = user.AvatarUrl ?? @"/img/icon-avatar-default.png";
}

<form class="d-flex flex-column" asp-area="" asp-controller="Users" asp-action="ChangeAvatar" enctype="multipart/form-data">
    <div style="background-image: url(@avatar)" class="img-thumbnail rounded-circle m-3" alt="avatar" id="avatar"></div>
    <input type="file" class="m-3 rounded-circle my-file-input" name="avatar" onchange="changeAvatar(this)"/>
    <button class="w-75 m-auto btn btn-primary">Save image</button>
</form>
