@{
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

<style>
    .my-avatar {
        width: 180px; 
        height: 180px;
        border: 2px solid black;
    }

    .my-file-input {
        width: 180px;
        height: 180px;
        cursor: pointer;
        opacity: 0;
        background-color: black;
        position: fixed;
    }
</style>

<h1>Manage your account</h1>

<h4>Change your account settings</h4>
<hr />
<div class="row">
    <div class="d-flex flex-column align-items-center">
        <form class="d-flex flex-column" asp-area="" asp-controller="Users" asp-action="ChangeAvatar" enctype="multipart/form-data">
            <img src="~/img/icon-avatar-default.png" alt="Avatar" class="img-thumbnail rounded-circle m-3 my-avatar">
            <input type="file" class="m-3 rounded-circle my-file-input" name="avatar"/>
            <button class="w-75 m-auto btn btn-primary">Save image</button>
        </form>

        <div class="col mt-3">
            <partial name="_ManageNav"/>
        </div>
    </div>

    <div class="col">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
