@model ICollection<AllRoomsListViewModel>
@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-5">
    <vc:joined-room-component></vc:joined-room-component>

    <table class="table table-hover text-center" style="border: 1px solid #dee2e6;">
        <thead>
            <tr>
                <th scope="col">Contest Name</th>
                <th scope="col">Contest Creator</th>
                <th scope="col">Users In</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var room in Model)
            {
                <tr>
                    <td>@room.ContestName</td>
                    <td>@room.ContestCreatorUsername</td>
                    <td>@room.UsersCount</td>
                </tr>
            }
        </tbody>
    </table>
</div>