@using LearnLanguageSystem.Data.Models
@using Microsoft.AspNetCore.Identity
@model RoomIndexViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = await this.UserManager.GetUserAsync(this.User);
}

<div class="d-flex flex-column justify-content-center align-items-center">
    <h3>Contest: @Model.ContestName</h3>

    <h3>Room code: @Model.AccessCode</h3>

    <div class="my-room px-1 py-1">

        <table class="table table-hover mb-0 text-center">
            <thead class="thead-light ">
            <tr>
                <th scope="col">Avatar</th>
                <th scope="col">Username</th>
                @if (Model.ContestCreatorId == user.Id)
                {
                    <th scope="col">Kick Player</th>
                }
                else
                {
                    <th scope="col">Leave</th>
                }
            </tr>
            </thead>

            <tbody id="users">
            @foreach (var userModel in Model.Users)
            {
                userModel.CurrentUserId = user.Id;
                userModel.ContestCreatorId = Model.ContestCreatorId;

                @await Html.PartialAsync("_UserPartial", userModel);
            }
            </tbody>
        </table>
    </div>
    @if (Model.ContestCreatorId == user.Id)
    {
            <a class="btn btn-success btn-lg px-5 mt-3" asp-area="" asp-controller="Rooms" asp-action="Start" asp-route-roomId="@Model.Id">Start</a>
    }
</div>